.main-h-1 {
    font-size: 300px;
}

.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.font2{
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: rgb(204, 195, 195);
    margin-right: 3px;
    margin-left: 3px;
}
.font1{
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color:black;
    margin-right: 3px;
    margin-left: 3px;
}

.font1-dt{
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color:white;
    margin-right: 3px;
    margin-left: 3px;
}